<div class="container">
  <h5 class="text-center">{{ title | uppercase}}</h5>
  <hr>
  <div class="row">
    <div class="col-6">
      <app-my-component></app-my-component>
    </div>
    <div class="col-6">
      <app-poke-infos></app-poke-infos>
    </div>
  </div>
</div>