<!-----<label > choisir </label>
<input [(ngModel)]="id">
<br><br>
<input  readonly [(ngModel)]="id">
<br><br>
<select [(ngModel)]="id" name="liste_pokes" >
        <option *ngFor="let poke of mesPokes"> {{poke.pok_id}}</option>
</select><br><br>

//ancienne version le 23
<input  [(ngModel)]="valeur" type="text"  > &nbsp;&nbsp;&nbsp;&nbsp;
<input (click)="chooseMe(id)"type="button" value="Go">
<div >
    <a href="#" *ngFor="let poke of mesPokes | filterPokemonPipe:valeur"  (click)=validerChoix(poke) > {{poke.name}}  <br> </a> 
<br>
</div>
-->

<div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Q4-7 :</label>
        </div>
        <select
          name="selectPokemon"
          class="custom-select"
          id="inputGroupSelect01"
          [(ngModel)]="searchString"
        >
          <option selected>Choose...</option>
          <option *ngFor="let poke of mesPokes" value="{{ poke.name }}">
            {{ poke.id }} - {{ poke.name }}
          </option>
        </select>
      </div>
    
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Q8 :</span>
        </div>
        <input
          class="form-control"
          name="recherche"
          [(ngModel)]="valeur"
          type="text"
          placeholder="Votre recherche"
        />
        <div class="input-group-append">
          <button
            class="btn btn-success"
            type="button"
            (click)="chooseMe(id)"
          >
            GO
          </button>
        </div>
      </div>
    
      <div class="list-group">
        <a href="#"
          class="list-group-item list-group-item-action"
          *ngFor="let poke of (mesPokes | filterPokemonPipe:valeur | paginate: { itemsPerPage: 10, currentPage: p } )"
          (click)="validerChoix(poke)"
        >
          <span class="badge badge-primary badge-pill">{{ poke.id }}</span>
          | {{ poke.name }}
        </a>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <br />
</div>





